.container {
    margin-bottom: 200px;
}

.heading {
    text-align: center;
}

.container h6 {
    max-width: 500px;
    font-size: 18px;
    font-family: 'Mada', sans-serif;
    letter-spacing: 0.02rem;
    line-height: 1.3rem;
    font-weight: 400;
}

@media (max-width: 599px) {
    .heading {
        max-width: 350px;
    }
}
