.main {
  display: flex;
  flex-direction: column;
}

.main h1 {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  color: #cd8e4c;
}

.main h2 {
  text-align: center;
}


.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.aboutImgProfileContainer {
  margin-top: 20px;
  width: 25%;
  margin: 0 40px;
}

.imgProfile {
  border-radius: 50%;
}

.aboutDescriptionContainer {
  font-size: 22px;
  width: 75%;
}

.social {
  align-self: flex-end;
  margin: 10px 15px 0 0;
}

.social > * {
  margin: 10px 10px;
  text-decoration: none;
  color: #000000;
}

.social > *:hover {
  font-weight: 700;
  color: #cd8e4c;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.logo {
  height: 1em;
}

@media (max-width: 700px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutImgProfileContainer {
    width: 50%;
    align-self: auto;
  }

  .aboutDescriptionContainer {
    width: 80%;
    font-size: 18px;
  }
  .main h3 {
    text-align: center;
  }

  .main h6 {
    text-align: center;
  }

  .social {
    align-self: center;
    margin: 10px 15px 0 0;
  }
}
