.main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

  .main h4 {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 0.02rem;
    font-family: "Crimson Text", serif;
  }

.skills {
  margin-top: 20px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skill {
  /* padding: 0; */
  margin: 2% 2%;
  /* text-align: center; */
  width: 100px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.skill:hover {
  background: #b4ab9b;
}

.skills > * {
  align-self: flex-end;
}

.skill p {
  font-size: 16px;
  margin: 0.1rem;
  text-align: center;
  align-self: center;
}

@media (max-width: 750px) {
  .main {
    text-align: center;
  }

  .skill {
    margin: 15px 25px;
    width: 50px;
    margin: 10px 20px;
  }

  .skill p {
    font-size: 13px;
    /* width: 100%; */
  }
}
